{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="d-none d-md-block">
    <div class="d-flex container justify-content-between p-3 fw-bold">
        <h1 class="fw-semibold text-dark">Sign Up</h1>
        <a href="{{ url_for('auth.login') }}" class="btn btn-link fs-4 fw-semibold d-none d-md-block align-self-center"
            style="color:rgb(11, 40, 136)">Already have an account. Login here</a>
    </div>
    <div class="container p-3 fs-5">
        <form method="POST">
            <div class="form-group">
                <label for="username" autocapitalize="on">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <br>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <br>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <br>

            <button type="submit" class="btn btn-success">Register</button>
        </form>
    </div>
</div>
<div class="d-md-none text-dark">
    <div class="d-flex container p-3 fw-bold">
        <h1 class="fw-semibold text-dark">Sign Up</h1>
    </div>
    <a href="{{ url_for('auth.login') }}"
        class="btn btn-link d-flex container fs-5 fw-semibold d-md-none align-self-center"
        style="color:rgb(11, 40, 136)">Have an account. Login here</a>
    <div class="container p-3 fs-5">
        <form method="POST">
            <div class="form-group">
                <label for="username" autocapitalize="on">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <br>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <br>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <br>

            <button type="submit" class="btn btn-success">Register</button>
        </form>
    </div>
</div>
{% endblock %}