:root {
    --primary-bg: #ffffff;
    --secondary-bg: #c4c7c9;
    --primary-text-colour: #000000;
    --secondary-text-colour: #2a2a2e;
}

@media (max-width: 768px) {
    body {
        background: url('/static/images/BG3.jpg');
        background-size: cover;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        overflow: scroll;
        z-index: 0;
        background-attachment: fixed;
        color: var(--bg);
    }
}

@media (min-width: 769px) {
    body {
        background: url('/static/BG4.jpg');
        background-size: cover;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        overflow: scroll;
        z-index: 0;
        background-attachment: fixed;
    }
}

.username {
    width: 40ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.alert {
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    width: 300px;
    background-color: rgb(242, 242, 242);
    color: black;
    border: 1px solid #000000;
    align-items: center;
    align-content: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    align-items: center;
    align-content: center;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    align-items: center;
    align-content: center;
}

.indexBody {
    background: var(--primary-bg);
}