{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% for c in collection%}
<div class="card mb-3" style="max-width: 540px; margin: auto;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/static/card_images/{{ c.card.class_id }}.png" class="img-fluid rounded-start"
                alt="{{ c.card.name }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{c.quantity}}x {{ c.card.name }}</h5>
                <p class="card-text"><strong>Mana Cost:</strong> {{ c.card.mana_cost }}</p>
                <p class="card-text"><strong>CMC:</strong> {{ c.card.cmc }}</p>
                <p class="card-text"><strong>Type:</strong> {{ c.card.type_line }}</p>
                <p class="card-text">{{ c.card.oracle_text }}</p>
                {% if c.card.power and c.card.toughness %}
                <p class="card-text"><strong>Power/Toughness:</strong> {{ c.card.power }}/{{ c.card.toughness }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock%}