{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% for c in collection%}
<div class="card mb-3" style="max-width: 540px; margin: auto;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/static/card_images/{{ c.card.class_id }}.png" class="img-fluid rounded-start"
                alt="{{ c.card.name }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{c.quantity}} x {{ c.card.name }}</h5>
                <p class="card-text"><strong>Level:</strong> {{ c.card.level }}</p>
                <p class="card-text"><strong>Race:</strong> {{ c.card.race }}</p>
                <p class="card-text"><strong>Type:</strong> {{ c.card.type }}</p>
                <p class="card-text"><strong>Description/Effects:</strong>{{ c.card.desc }}</p>
                {% if c.card.attack and c.card.defence %}
                <p class="card-text"><strong>Attack/Defence:</strong> {{ c.card.attack }}/{{ c.card.defence }}</p>
                {% endif %}
                {% if c.card.attack and c.card.defence == none %}
                <p class="card-text"><strong>Attack:</strong> {{ c.card.attack }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock%}