{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container pmx-auto">
    <h1 class="mb-4" style="text-align: center;">Welcome to TCG Scanner</h1>
    <p class="mb-4" style="text-align: center;">Scan your trading cards with ease and keep track of your collection</p>
    <button type="button" class="btn btn-lg btn-primary d-block mx-auto mb-4" onclick="init()"> Start
    </button>
    <!-- make button not add more screens when pressed multiple times/disappear after starting-->
    <div style="text-align: center;" id="webcam-container"></div>
    <div style="text-align: center;" id="class-container">
        <h2 id="class-name"></h2>
    </div>
    <div style="text-align: center;" id="label-container"></div>
</div>
<button id="add-to-collection-btn" class="btn btn-success d-block mx-auto mt-4" style="display: none;"
    onclick="addCardToCollection(document.getElementById('card-name').textContent)">
    Add to Collection
</button>
<div style="text-align: center;" id="card-container">
    <div id="card-details"
        style="margin-top: 20px; text-align: left; max-width: 600px; margin-left: auto; margin-right: auto;">
        <h3 id="card-name" style="text-align: center;"></h3>
        <p><span id="card-level"></span>Level: </p>
        <p><span id="card-race"></span>Race: </p>
        <p><span id="card-type"></span>Type: </p>
        <p><span id="card-desc"></span>Description/Effects: </p>
        <p><span id="card-attack"></span>Attack: </p>
        <p><span id="card-defence"></span>Defence: </p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
<script src="/static/js/scanner.js"></script>
<script>
    async function addCardToCollection(cardName) {
        try {
            const response = await fetch('/main/add_to_collection', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ card_name: cardName })
            });


            const text = await response.text();
            console.log("Server response:", text);
            const result = JSON.parse(text);

            if (result.success) {
                alert(result.message);
            }
        } catch (error) {
            console.error("Error adding card to collection:", error);
        }
    }
</script>
{% endblock %}